body {
    font-family: Arial, sans-serif;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    transition: background-color 0.3s;
    /* Thêm hiệu ứng đổi màu mượt mà */
}

body h1 {
    padding-top: 10%;
}

/* Container cho Logo ở góc trái */
.header-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-logo img {
    width: 50px;
    /* Điều chỉnh kích thước logo */
    height: auto;
    border-radius: 50%;
}

.header-logo span {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}